body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img, svg {
    margin-top: -25px;
}
button.like{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
    color: rgba(0,150,136 ,1);
    background-color:rgba(38,166,154 ,0.3);
    border-color: rgba(0,150,136 ,1);
    border-width: 1px;
    font-size: 15px;
}

button.dislike{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
    color: rgba(255,82,82 ,1);
    background-color: rgba(255,138,128 ,0.3);
    border-color: rgba(255,82,82 ,1);
    border-width: 1px;
    font-size: 15px;
}
.nounderline {
    text-decoration: none !important
    }
    .form-group{
    margin-top:20px;
}
.bg-light{
    border-radius: 10px;
} 
.imgthumbnail{
    width: 60px;
    height: 50px;
    border-radius: 50px;
}
.addpostcolor{
    background-color: #FAFCF0;
}

nav{
 box-shadow: 0 0 10px #CCC;
  
}
.navbar{
    padding: 20px 0;  
}
.shadow-block{
    box-shadow: 0 0 10px #ccc;
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #717D7E;
}

.navbar-nav{
    margin-right: 20px;
}

.custom-nav{
    background: #00c6ff;
}

.nav-item{
    padding: 10px 7px;
    text-transform: uppercase;
    font-size: 14px;
}

.custom-nav .nav-link{
    color: #fff !important;
}

.custom-nav .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: purple !important;
    background: #fff;
    border-radius: 20px;
    padding: 7px 20px;
}
